<%- include('partials/header') %>
        <div class="container">
            <h1 class="mt-5 mb-5 text-center text-primary"><b>Login System in Node.js Express</b></h1>
           
            <div class="container mt-4">
                <div class="row">
                    <% cars.forEach(function(car) { %>
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="<%= car.car_img %>" class="card-img-top" alt="<%= car.car_name %>">
                                <div class="card-body">
                                    <h5 class="card-title"><%= car.car_name %></h5>
                                    <p class="card-text">Fuel Type: <%= car.fuel_type %></p>
                                    <p class="card-text">Capacity: <%= car.capacity %></p>
                                    <p class="card-text">Rental Price: <%= car.rental_price %></p>
                                    <p class="card-text">Availability: <%= car.available === 'Y' ? 'Available' : 'Not Available' %></p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            

            <!-- <div class="row mt-5">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                <% if(session.user_id) { %>
                    <h1>Hi User, Welcome</h1>
                    <a href="/logout" class="btn btn-primary">Logout</a>
                <% } else { %>
                    <h1>Hi Guest, Welcome</h1>
                    <a href="/login" class="btn btn-primary">Login</a>
                <% } %>
                </div>
            </div> -->
        </div>
<%- include('partials/footer') %>
